.body {
    background-color: rgb(51, 59, 49);
    background-image: url(/img/fon.jpg);
    background-blend-mode: overlay;
}

.page {
    display: inline;
}

.aaa {
    font-size: x-large;
    font-weight: 900;
    text-shadow: 3px 2px 6px lawngreen, 0 0 1em rgb(10, 3, 3);
}

.text p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: lime;
    line-height: 1.5;
    font-weight: 500;
    padding-left: 15px;
}
/* .blockRequest {
    
    border: 1px solid red;
    margin: 10px;
    padding: 5px; 
    padding-left: 30px;
    padding-right: 30px;
    color: red;    
} */

.navbar-text {
    color: rgba(255, 255, 255, 0.8);
}

.response {
    margin: 20px;
}
