/* *{
    margin: 0;
    padding: 0;
  } */

.body {
    background-color: rgb(33, 65, 25);
    background-image: url(/img/fon.jpg);
    background-blend-mode: overlay;
}

.head {
    height: 80px;
    background-color: rgb(25, 27, 24);
    text-align: center;
    color: lime;
    
    
}

/* .input {
    display: flex;
    flex-flow: column wrap;
    
} */

/* .request {

} */
a {
    font-size: x-large;
    font-weight: 700;
    text-shadow: 3px 2px 5px lawngreen, 0 0 1em red;
}

.text p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: lime;
    line-height: 1.5;
    font-weight: 500;
    padding-left: 15px;
}
.blockRequest {
    /* display: inline-flex;
    
    height: auto;
    width: 80%; */
    border: 1px solid red;
    margin: 10px;
    padding: 5px; 
    padding-left: 30px;
    padding-right: 30px;
    color: red;    
}

.navbar-text {
    color: rgba(255, 255, 255, 0.8);
}
/* .update {
    height: 145px;
} */

/* ul {
    margin: 3px;
    border: 1px solid rgb(10, 95, 10);
    padding-left: 10px;
    left: 20px;
} */

/* .button {

    margin: 5px;
    margin-left: 20px;
} */
