.body {
    background-color: black;
}

.request {
width: 25%;
margin: 15px;
float: left;
background-color: rgb(201, 173, 173);
}
.response {
    width: 25%;
margin: 15px;
float: left;
background-color: rgb(117, 187, 123);

}

.text {
    color: chartreuse;
    font-size: 200%;
}